body {
	font-family: Helvetica;
	margin-top: 50px;
}

main {
	width: 80%;
	margin: 0 auto;
}
.nav {
	width: 100%;
	position: fixed;
	height: 25px;
}
.navbar {
	position: fixed;
	box-sizing: border-box;
	background-color: lightgrey;
	width: 100%;
	padding: 10px 20px;
	top: 0;
	left: 0;
}

.nav-link {
	float: right;
	color: purple;
	margin-left: 20px;
	text-decoration: none;
}

form {
	padding-top: 40px;
}

img {
	width: 100%; 
}
form span {
	border: 1px solid lightgrey;
	display: inline-block;
    box-sizing: border-box;
    font-size: 0;
    position: relative;
    top: 9px;
	border-radius: 3px;
	width: 35px;

}

div {
	padding-top: 55px;
	margin-left: 50px;
}

input {
	width: 300px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid lightgrey;
	padding-left: 8px;
}

.pager {
	font-size: 0;
}

.left, .center, .right {
	font-size: 13px;
	padding: 10px 20px;
}

.left {
	border: 1px solid lightgrey;
	border-right: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.center {
	border: 1px solid lightgrey;
}
.right {
	border: 1px solid lightgrey;
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.experience {
	font-size: 13px;
	padding: 10px 20px;
}

.date {
	padding-left: 5px;
	display: inline-block;
	color: grey;
}

.title {
	padding-left: 5px;
	display: inline-block;
	color: blue;
}

.location {
	padding-left: 5px;
	display: inline-block;
	color: grey;
}
